@page "/"
@inject HttpClient Http


<PageTitle>Christmas Gift manager</PageTitle>

<h1>Name: Lukas</h1>

@if (whishlists == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Item</th>
                <th>Url</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in whishlists)
            {
                <tr>
                    <td>@forecast.Url</td>
                    <td>@forecast.Name</td>
                    <td>@forecast.ImgUrl</td>
                </tr>
            }
            <tr>
                <td></td>
                <td></td>

                <td align="right">

                    <a href="/add" style="color:black">
                        New Item
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                        </svg>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
}

@code {
    private WhishlistModel[]? whishlists;

    protected override async Task OnInitializedAsync()
    {
        var test = await Http.GetFromJsonAsync<WhishlistModel[]>("sample-data/whishlist.json");
        var hej = await WhishlistService.ReadingWhishlist_async("Lukas");
    }
}
